<header class="container-fluid bg-info main-header" ng-controller="headerController">
    <div class="row">
        <div class="col-md-3 col-sm-4 pull-left">
            <h3 class="text-center header-title" ng-bind="heading"></h3>
        </div>
        <div class="col-md-6 col-sm-7">
            <nav class="nav nav-pills">
                <a class="nav-link text-dark" ui-sref=".home">HOME</a>
                <a class="nav-link text-dark" ui-sref=".form">FORM</a>
            </nav>
        </div>
    </div>
</header>